*
!*/
!.gitignore
!*.gitattributes
!*.java
!*.form
!*.xsl
!*.xml
nb-configuration.xml
nbactions.xml
!*.html
!*.css
target/
!/src/test/java/de/uni_hamburg/corpora/resources/**
!*.png
!*.xsd
!/src/main/java/de/uni_hamburg/corpora/visualization/resources/vikus-viewer/**
!LICENSE
!*.md
!lib/EXMARaLDA-*.jar
!utilities/*
!*.sh
!*.txt
!*.bat
!*.sh
!*.php
!crontab-example.bak
!holidays

