*
!*/
!.gitignore
!*.java
src/main/java/de/uni_hamburg/corpora/StupidCorpusMagicianTester.java
!*.form
!*.xsl
!*.xml
nb-configuration.xml
!*.html
!*.css
nbactions.xml
target/
!/src/test/java/de/uni_hamburg/corpora/resources/**
!corpus-curation
!exmaralda
!HZSK-CLARIN-Services
doc/
!*.png
