[submodule "exmaralda"]
	path = exmaralda
	url = https://github.com/EXMARaLDA/exmaralda.git
[submodule "corpus-curation"]
	path = corpus-curation
	url = git@gitlab.rrz.uni-hamburg.de:hzsk/corpus-curation.git
[submodule "HZSK-CLARIN-Services"]
	path = HZSK-CLARIN-Services
	url = https://github.com/hzsk/HZSK-CLARIN-Services
[submodule "metadata-converters"]
	path = src/main/java/de/uni_hamburg/corpora/conversion/resources/metadata-converters
	url = https://gitlab.rrz.uni-hamburg.de/hzsk/metadata-converters.git
